svg path {
fill: transparent;
stroke: rgba(255, 255, 255, 0.7);
stroke-width: 0.3;
stroke-dasharray: 220;
stroke-dashoffset: 220;
animation: textAnimation 3s ease-in-out 1 forwards;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 220;
    }
     50% {
        stroke-dashoffset: 110;
    }
    80% {
        stroke-dashoffset: 54;
    }
    100% {
        stroke-dashoffset: 0;
        
    }
}